<div class="inners">
        <img class="about-me-image" style="width:400px;height:300px" src="../../img/create.jpeg" alt="a picture of sky" />
    <br />
    <br />
    <p>
        Hello, my name is Jiwon Kang. I studied computer programming at Epicodus, Seattle, WA (1000 hours of hands-on coding). I have experience with web development in JavaScript, C#, and .NET, and pair-programming, and also worked as a web producer at Optimal Web Solutions building web applications for small businesses. I love solving problems and analyzing patterns and algorithm.
    </p>
    <p>
        As an Epicodus student, I have learned necessary technical skills to build dynamic web applications, such as Bootstrap, SASS, JavaScript, jQuery, C#, and .NET and how to communicate with my pair(s) while programming and developing applications together.
    </p>   
</div>
