

<div class="inner cover container-home">
    <video muted preload="auto" autoplay="autoplay" loop="loop" poster="../../img/sky.jpeg" id="background">
        <source src="../../videos/sky3.mp4" type="video/mp4">
        <source src="../../videos/sky3.ogg" type="video/ogg" />
    </video>
    <div class="inner-elements overlay-home">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Learn more</a>
        </p>
    </div>
    
    
</div>

<div class="mastfoot">
    <div class="inner">
        <p>© 2017 Gee Kang</p>
    </div>
</div>