

<div class="inner cover container-home">
    <video muted preload="auto" autoplay="autoplay" loop="loop" poster="../../img/sky.jpeg" id="background">
        <source src="../../videos/sky3.mp4" type="video/mp4">
        <source src="../../videos/sky3.ogg" type="video/ogg" />
    </video>
    <div class="inner-elements overlay-home">
        <h1 class="cover-heading">I am a Web Developer</h1>
        <p class="lead">Web development is all about creativity and problem-solving.</p>
        <p class="lead">
            <a href="About" class="btn btn-lg btn-default">About Me</a>
        </p>
    </div>
    
    
</div>

<div class="mastfoot">
    <div class="inner">
        <p>© 2017 Gee Kang</p>
    </div>
</div>