@model IEnumerable<GeeKang.Models.Project>

<div>  
    <h2>My Most Starred Github Projects</h2>
    <br />
    @foreach (var project in Model)
    {
        <a href="@Html.DisplayFor(modelItem => project.Html_Url)"><h3>&#127776; @Html.DisplayFor(modelItem => project.Name)</h3></a>
        <p>@Html.DisplayFor(modelItem => project.Description)</p>
    }
</div>
